.course_modal_screen{
    flex:1;
    width:100vw;
    height:100vh;
    z-index:10;
    background-color: rgb(0,0,0,0.5);
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.course_modal_screen  .modal_input_card  .cancel{
    display:flex;
    justify-content: flex-end;
    height:40px;

}


.course_modal_screen .modal_input_card {
    width:450px;
    z-index: 1000;
    border-radius:5px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.04);
    background-color: #fff;
    overflow-y: scroll;
    padding-left: 3%;
    padding-right:3%;
    padding-top:5px;
    padding-bottom: 15px;
    height:60vh;

}



.course_modal_screen .modal_input_card h1{
    font-size:22px;
    margin-bottom: 20px;
    color:rgb(50,50,50);
}

.course_modal_screen .modal_input_card p{
    width:100%;
    font-size:17px;
    margin-bottom: 20px;
    color:rgb(100,100,100)
   
}





.course_modal_screen button{
    width:100%;
    height:50px;
    background-color: rgb(65, 42, 128);
    margin-bottom: 10px;
    border-radius: 5px;
    color:#fff;
    font-size: 15px;
}


/* responsive modal*/
@media screen and (max-width: 1024px) {
    .course_modal_screen .modal_input_card {
        width:420px;
    }
}


@media screen and (max-width: 750px) {
    .course_modal_screen .modal_input_card {
        width:430px
    }

    .course_modal_screen .modal_input_card h1{
        font-size:22px;
    }

}



@media screen and (max-width: 560px) {
    .course_modal_screen .modal_input_card {
        width:300px
    }


}