/* testimonial section  */

.testimonial-section {
    padding-top: 30px;
    padding-bottom: 90px;
    padding-right: 5%;
    padding-left: 5%;
}

.testimonial-section .carousel-card {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.testimonial-section .testimonial-container {
    background-color: rgb(246,246,246);
    width: 100%;
    padding-top: 30px;
    border-radius: 10px;
}

.testimonial-section .heading {
    width: 100%;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px rgb(0 0 0 /0.1);

}

.testimonial-section span {
    width: 100%;
    font-size: 60px;
    margin-bottom: 35px;
    text-align: center;
    text-shadow: 2px 2px rgb(0 0 0 /0.1);
    color: rgb(65, 42, 128)
}

.testimonial-section .testimony {
    font-size: 25px;
    text-align: center;
    color: rgb(100, 100, 100);
    margin-bottom: 20px;
    padding-right: 5%;
    padding-left: 5%;
}

.testimonial-section .testimony-author {
    margin-bottom: 10px;

}

.testimonial-section .author-position {
    color: rgb(100, 100, 100)
}


/* responsive design */
@media screen and (max-width: 750px) {
    /* testimonial section  */
    .testimonial-section {
        padding-right: 2%;
        padding-left: 2%;
    }

    .testimonial-section span {
        margin-bottom: 20px;
    }

    .testimonial-section .testimony {
        font-size: 20px;
    }


    .testimonial-section .carousel-card {
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .testimonial-section .heading {
        width: 100%;
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
        text-shadow: 2px 2px rgb(0 0 0 /0.1);
    
    }
    .testimonial-section .testimony {
        font-size: 20px;
        text-align: center;
        color: rgb(100, 100, 100);
    }


}